<html>
    <head>
        <title>Tech4</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tech4</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Somthing something!!!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Again Somthing something!!!!</p>
        </div>
    </body>
</html>
